.form{
position: absolute;
left: 45%; 
top: 30%;
width: 400px; /* Largura da DIV */
height: 70%; /* Altura da DIV */
margin-left: -150px;
margin-top: -125px;
background-color: #e6e6e6;
z-index: 1000; /* Faz com que fique sobre todos os elementos da página */
border: solid 2px;
border-color: #e6e6e6;
border-radius: 10px;
}

.right{
   text-align: right;
}

.login{
text-align: center;
}

body{
  background-color: #e6e6e6;
}

.cadastro{
position: absolute;
left: 20%; 
right: 20px;
top: 40%;
width: 80%; /* Largura da DIV */
height: absolute; /* Altura da DIV */
margin-left: -150px;
margin-top: -125px;
background-color: #e6e6e6;
border: solid 2px;
border-color: #e6e6e6;
border-radius: 10px;
}

.titulo{
	text-align: center;
}

.nav-wrapper{
	background-color:  #1a1a1a;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.video-div{
	display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  width:20%;
  height:10%;
}

