<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- fontes materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script type="text/javascript">
    	document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });

    </script>
    

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Cadastro de Clientes</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/index">Voltar</a></li>
       <!-- <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>-->
      </ul>
    </div>
  </nav>


</head>
<body>

<div class="row cadastro">

    <form class="col s10 cad" action="{{url_for('inserir')}}" method="POST">

    <h4 class="titulo">Dados do cliente</h4>

    <div class="row">
    	<div class="input-field col s5">
		<input id="nomeCli" type="text" class="validate" name="nomeCli">
		<label for="nomeCli">Nome</label>
        </div>
 
 		<div class="input-field col s5">
    	<select name ="EstadoCivilCli">
      		<option value="" disabled selected></option>
			<option value="solteiro(a)">solteiro(a)</option>
			<option value="casado(a)">casado(a)</option>
			<option value="divorciado(a)">divorciado(a)</option>
			<option value="separado(a)">separado(a)</option>
			<option value="viuvo(a)">viúvo(a)</option>
    	</select>
   		<label>Estado Civil</label>
 		</div>

      	<div class="input-field col s5">
		<input id="profissaoCli" type="text" class="validate" name="profissaoCli">
		<label for="profissaoCli">Profissão</label>
		</div>

   		<div class="input-field col s5">
		<input id="cpfCli" type="text" class="validate" onkeypress="$(this).mask('000.000.000-00')" name="cpfCli">
		<label for="cpfCli">CPF:</label>
   		</div>

		<div class="input-field col s5">
		<input id="rgCli" type="text" class="validate" onkeypress="$(this).mask('0.000.000')" name="rgCli">
		<label for="rgCli">RG:</label>
   		</div>
	</div>


	<h5 class="titulo">Endereço</h5>
      
    <div class="row">
     	
     	<div class="input-field col s5">
		<input id="ruaCli" type="text" class="validate" name="ruaCli">
		<label for="ruaCli">Rua:</label>
        </div>

   		<div class="input-field col s5">
		<input id="bairroCli" type="text" class="validate" name="bairroCli">
		<label for="bairroCli">Bairro</label>
		</div>

		<div class="input-field col s5">
		<input id="cidadeCli" type="text" class="validate" name="cidadeCli">
		<label for="cidadeCli">Cidade</label>
		</div>

		<div class="input-field col s5">
    	<select name ="EstadoCli">
     		<option value="" disabled selected></option>
			<option value="Acre">Acre</option>
			<option value="Alagoas">Alagoas</option>
			<option value="Amapa">Amapá</option>
			<option value="Amazonas">Amazonas</option>
			<option value="Bahia">Bahia</option>
			<option value="Ceara">Ceará</option>
			<option value="Espirito Santo">Espírito Santo</option>
			<option value="Goias">Goiás</option>
			<option value="Maranhao">Maranhão</option>
			<option value="Mato Grosso">Mato Grosso</option>
			<option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
			<option value="Minas Gerais">Minas Gerais</option>
			<option value="Para">Pará</option>
			<option value="Paraiba">Paraíba</option>
			<option value="Parana">Paraná</option>
			<option value="Pernambuco">Pernambuco</option>
			<option value="Piauí">Piauí</option>
			<option value="Rio de Janeiro">Rio de Janeiro</option>
			<option value="Rio Grande do Norte">Rio Grande do Norte</option>
			<option value="Rio Grande do Sul">Rio Grande do Sul</option>
			<option value="Rondonia">Rondônia</option>
			<option value="Roraima">Roraima</option>
			<option value="Santa Catarina">Santa Catarina</option>
			<option value="Sao Paulo">São Paulo</option>
			<option value="Sergipe">Sergipe</option>
			<option value="Tocantins">Tocantins</option>
			<option value="Distrito Federal">Distrito Federal</option>
    	</select>
    	<label>Estado</label>
  		</div>

  		<div class="input-field col s5">
		<input id="cepCli" type="text" class="validate" onkeypress="$(this).mask('00000-000')" name="cepCli">
		<label for="cepCli">CEP:</label>
   		</div>

		<div class="input-field col s5">
		<input id="telefoneCli" type="tel" class="validate" onkeypress="$(this).mask('(00)0.0000-0000');" name="telefoneCli">
		<label for="telefoneCli">Telefone:</label>
   		</div>
   	</div>

	<h4 class="titulo">Dados do procurador</h4>
    
    <div class="row">
    	
    	<div class="input-field col s5">
		<input id="nomePro" type="text" class="validate" name="nomePro">
		<label for="nomePro">Nome</label>
        </div>
 
 		<div class="input-field col s5">
   		<select name ="EstadoCivilPro">
      		<option value="" disabled selected></option>
			<option value="solteiro(a)">solteiro(a)</option>
			<option value="casado(a)">casado(a)</option>
			<option value="divorciado(a)">divorciado(a)</option>
			<option value="separado(a)">separado(a)</option>
			<option value="viuvo(a)">viúvo(a)</option>
    	</select>
    	<label>Estado Civil</label>
  		</div>

      	<div class="input-field col s5">
		<input id="profissaoPro" type="text" class="validate" name="profissaoPro">
		<label for="profissaoPro">Profissão</label>
		</div>

   		<div class="input-field col s5">
		<input id="cpfPro" type="text" class="validate" onkeypress="$(this).mask('000.000.000-00')" name="cpfPro">
		<label for="cpfPro">CPF:</label>
   		</div>

		<div class="input-field col s5">
		<input id="rgPro" type="text" class="validate" onkeypress="$(this).mask('0.000.000')" name="rgPro">
		<label for="rgPro">RG:</label>
   		</div>
	</div>

	<h5 class="titulo">Endereço</h5>
      
    	<div class="row">
      	<div class="input-field col s5">
		<input id="ruaPro" type="text" class="validate" name="ruaPro">
		<label for="ruaPro">Rua:</label>
        </div>

   		<div class="input-field col s5">
		<input id="bairroPro" type="text" class="validate" name="bairroPro">
		<label for="bairroPro">Bairro</label>
		</div>

		<div class="input-field col s5">
		<input id="cidadePro" type="text" class="validate" name="cidadePro">
		<label for="cidadePro">Cidade</label>
		</div>

		<div class="input-field col s5">
   		<select name ="EstadoPro">
     		<option value="" disabled selected></option>
			<option value="Acre">Acre</option>
			<option value="Alagoas">Alagoas</option>
			<option value="Amapa">Amapá</option>
			<option value="Amazonas">Amazonas</option>
			<option value="Bahia">Bahia</option>
			<option value="Ceara">Ceará</option>
			<option value="Espirito Santo">Espírito Santo</option>
			<option value="Goias">Goiás</option>
			<option value="Maranhao">Maranhão</option>
			<option value="Mato Grosso">Mato Grosso</option>
			<option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
			<option value="Minas Gerais">Minas Gerais</option>
			<option value="Para">Pará</option>
			<option value="Paraiba">Paraíba</option>
			<option value="Parana">Paraná</option>
			<option value="Pernambuco">Pernambuco</option>
			<option value="Piauí">Piauí</option>
			<option value="Rio de Janeiro">Rio de Janeiro</option>
			<option value="Rio Grande do Norte">Rio Grande do Norte</option>
			<option value="Rio Grande do Sul">Rio Grande do Sul</option>
			<option value="Rondonia">Rondônia</option>
			<option value="Roraima">Roraima</option>
			<option value="Santa Catarina">Santa Catarina</option>
			<option value="Sao Paulo">São Paulo</option>
			<option value="Sergipe">Sergipe</option>
			<option value="Tocantins">Tocantins</option>
			<option value="Distrito Federal">Distrito Federal</option>
    	</select>
    	<label>Estado</label>
  		</div>

  		<div class="input-field col s5">
		<input id="cepPro" type="text" class="validate" onkeypress="$(this).mask('00000-000')" name="cepPro">
		<label for="cepPro">CEP:</label>
   		</div>

		<div class="input-field col s5">
		<input id="telefonePro" type="tel" class="validate" onkeypress="$(this).mask('(00)0.0000-0000');" name="telefonePro">
		<label for="telefonePro">Telefone:</label>
   		</div>

   		<div class="row">
        <div class="input-field col s10">
          <textarea id="motivo" class="materialize-textarea" name="motivo"></textarea>
          <label for="textarea1">Qual o motivo para o pedido desta procuração?</label>
        </div>
     	</div>

</div>
<button class="waves-effect waves-light btn-large" type="submit">Cadastrar</button>
</form>
</div>
</body>
</html>




