<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- fontes materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    

    <script type="text/javascript">
    	document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });
    </script>

<h1>Cadastro de Cliente</h1>
</head>
<body>

<div class="row">

    <form class="col s10">

    <h2>Dados do cliente</h2>

    <div class="row">
    	<div class="input-field col s5">
		<input id="nomeCli" type="text" class="validate">
		<label for="nomeCli">Nome</label>
        </div>
 
 		<div class="input-field col s5">
    	<select name ="EstadoCivilCli">
      		<option value="" disabled selected></option>
			<option value="solteiro(a)">solteiro(a)</option>
			<option value="casado(a)">casado(a)</option>
			<option value="divorciado(a)">divorciado(a)</option>
			<option value="separado(a)">separado(a)</option>
			<option value="viuvo(a)">viúvo(a)</option>
    	</select>
   		<label>Estado Civil</label>
 		</div>

      	<div class="input-field col s5">
		<input id="profissaoCli" type="text" class="validate">
		<label for="profissaoCli">Profissão</label>
		</div>

   		<div class="input-field col s5">
		<input id="cpfCli" type="text" class="validate" onkeypress="$(this).mask('000.000.000-00')">
		<label for="cpfCli">CPF:</label>
   		</div>

		<div class="input-field col s5">
		<input id="rgCli" type="text" class="validate" onkeypress="$(this).mask('0.000.000')">
		<label for="rgCli">RG:</label>
   		</div>
	</div>


	<h4>Endereço</h4>
      
    <div class="row">
     	
     	<div class="input-field col s5">
		<input id="ruaCli" type="text" class="validate">
		<label for="ruaCli">Rua:</label>
        </div>

   		<div class="input-field col s5">
		<input id="bairroCli" type="text" class="validate">
		<label for="bairroCli">Bairro</label>
		</div>

		<div class="input-field col s5">
		<input id="cidadeCli" type="text" class="validate">
		<label for="cidadeCli">Cidade</label>
		</div>

		<div class="input-field col s5">
    	<select name ="EstadoCli">
     		<option value="" disabled selected></option>
			<option value="Acre">Acre</option>
			<option value="Alagoas">Alagoas</option>
			<option value="Amapa">Amapá</option>
			<option value="Amazonas">Amazonas</option>
			<option value="Bahia">Bahia</option>
			<option value="Ceara">Ceará</option>
			<option value="Espirito Santo">Espírito Santo</option>
			<option value="Goias">Goiás</option>
			<option value="Maranhao">Maranhão</option>
			<option value="Mato Grosso">Mato Grosso</option>
			<option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
			<option value="Minas Gerais">Minas Gerais</option>
			<option value="Para">Pará</option>
			<option value="Paraiba">Paraíba</option>
			<option value="Parana">Paraná</option>
			<option value="Pernambuco">Pernambuco</option>
			<option value="Piauí">Piauí</option>
			<option value="Rio de Janeiro">Rio de Janeiro</option>
			<option value="Rio Grande do Norte">Rio Grande do Norte</option>
			<option value="Rio Grande do Sul">Rio Grande do Sul</option>
			<option value="Rondonia">Rondônia</option>
			<option value="Roraima">Roraima</option>
			<option value="Santa Catarina">Santa Catarina</option>
			<option value="Sao Paulo">São Paulo</option>
			<option value="Sergipe">Sergipe</option>
			<option value="Tocantins">Tocantins</option>
			<option value="Distrito Federal">Distrito Federal</option>
    	</select>
    	<label>Estado</label>
  		</div>

  		<div class="input-field col s5">
		<input id="cepCli" type="text" class="validate" onkeypress="$(this).mask('00000-000')">
		<label for="cepCli">CEP:</label>
   		</div>

		<div class="input-field col s5">
		<input id="telefoneCli" type="text" class="validate" pattern="([0-9]{2})[0-9]{1}.[0-9]{4}-[0-9]{4}" onkeypress="$(this).mask('(00)0.0000-0000');">
		<label for="telefoneCli">Telefone:</label>
   		</div>
   	</div>

	<h2>Dados do procurador</h2>
    
    <div class="row">
    	
    	<div class="input-field col s5">
		<input id="nomePro" type="text" class="validate">
		<label for="nomePro">Nome</label>
        </div>
 
 		<div class="input-field col s5">
   		<select name ="EstadoCivilPro">
      		<option value="" disabled selected></option>
			<option value="solteiro(a)">solteiro(a)</option>
			<option value="casado(a)">casado(a)</option>
			<option value="divorciado(a)">divorciado(a)</option>
			<option value="separado(a)">separado(a)</option>
			<option value="viuvo(a)">viúvo(a)</option>
    	</select>
    	<label>Estado Civil</label>
  		</div>

      	<div class="input-field col s5">
		<input id="profissaoPro" type="text" class="validate">
		<label for="profissaoPro">Profissão</label>
		</div>

   		<div class="input-field col s5">
		<input id="cpfPro" type="text" class="validate" onkeypress="$(this).mask('000.000.000-00')">
		<label for="cpfPro">CPF:</label>
   		</div>

		<div class="input-field col s5">
		<input id="rgPro" type="text" class="validate" onkeypress="$(this).mask('0.000.000')">
		<label for="rgPro">RG:</label>
   		</div>
	</div>

	<h4>Endereço</h4>
      
    	<div class="row">
      	<div class="input-field col s5">
		<input id="ruaPro" type="text" class="validate">
		<label for="ruaPro">Rua:</label>
        </div>

   		<div class="input-field col s5">
		<input id="bairroPro" type="text" class="validate">
		<label for="bairroPro">Bairro</label>
		</div>

		<div class="input-field col s5">
		<input id="cidadePro" type="text" class="validate">
		<label for="cidadePro">Cidade</label>
		</div>

		<div class="input-field col s5">
   		<select name ="EstadoPro">
     		<option value="" disabled selected></option>
			<option value="Acre">Acre</option>
			<option value="Alagoas">Alagoas</option>
			<option value="Amapa">Amapá</option>
			<option value="Amazonas">Amazonas</option>
			<option value="Bahia">Bahia</option>
			<option value="Ceara">Ceará</option>
			<option value="Espirito Santo">Espírito Santo</option>
			<option value="Goias">Goiás</option>
			<option value="Maranhao">Maranhão</option>
			<option value="Mato Grosso">Mato Grosso</option>
			<option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
			<option value="Minas Gerais">Minas Gerais</option>
			<option value="Para">Pará</option>
			<option value="Paraiba">Paraíba</option>
			<option value="Parana">Paraná</option>
			<option value="Pernambuco">Pernambuco</option>
			<option value="Piauí">Piauí</option>
			<option value="Rio de Janeiro">Rio de Janeiro</option>
			<option value="Rio Grande do Norte">Rio Grande do Norte</option>
			<option value="Rio Grande do Sul">Rio Grande do Sul</option>
			<option value="Rondonia">Rondônia</option>
			<option value="Roraima">Roraima</option>
			<option value="Santa Catarina">Santa Catarina</option>
			<option value="Sao Paulo">São Paulo</option>
			<option value="Sergipe">Sergipe</option>
			<option value="Tocantins">Tocantins</option>
			<option value="Distrito Federal">Distrito Federal</option>
    	</select>
    	<label>Estado</label>
  		</div>

  		<div class="input-field col s5">
		<input id="cepPro" type="text" class="validate" onkeypress="$(this).mask('00000-000')">
		<label for="cepPro">CEP:</label>
   		</div>

		<div class="input-field col s5">
		<input id="telefonePro" type="text" class="validate" pattern="([0-9]{2})[0-9]{1}.[0-9]{4}-[0-9]{4}" onkeypress="$(this).mask('(00)0.0000-0000');">
		<label for="telefonePro">Telefone:</label>
   		</div>

</div>
<button class="waves-effect waves-light btn-large">Cadastrar</button>
</form>
</div>
</body>
</html>




