<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
  <META HTTP-EQUIV="REFRESH" CONTENT="2">

	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- fontes materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  
   	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
	
	<form class="form">

	<h1 class="login">Login</h1>
	
	<div class="row">
          <div class="input-field col s12">
            <input class="validate" id="email" type="email">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
           
            <input id="password" type="password">
            <label for="password">Password</label>


            <p>
      <label>
        <input type="checkbox" class="filled-in" />
        <span>Continuar Conectado</span>
      </label>
    </p>
      <a href=""class="filled-in">Esqueceu a senha?</a>
            <button class="btn waves-effect waves-light btn-large right" type="submit" name="action">login
          </button>

          </div>
        </div>

	</form>

</body>
</html>